.pagination-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.pagination-buttons,
.page-info {
  display: inline-block; /* make them line up horizontally */
}

.page-info {
  margin-left: 20px;
}
